<h1>Nouveau message</h1>
<div class="container">
  <form [formGroup]="messageForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input
            type="text"
            formControlName="author"
            class="form-control"
            placeholder="Votre nom"
            value=""
          />
        </div>

        <div class="form-group">
          <input
            (click)="sendMessage()"
            name="btnSubmit"
            class="btn btn-warning mt-2"
            value="Envoyer message"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <textarea
            formControlName="content"
            class="form-control"
            placeholder="Votre message *"
            style="width: 100%; height: 150px"
          ></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
